@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#form-container {
  height: 25vh;
  width: 30vw;
  opacity: 1;
  position: absolute;
  z-index: 99;
  top: 1vh;
}

.form {
  margin: 1vw 1vw;
  height: fit-content;
  width: 20vh;
  background-color: gray;
  opacity: 0.4;
  position: absolute;
  z-index: 99;
  top: 0vh;
  left: 0vw;
  padding: 1vh 1vw 1vw 1vw;
  border-radius: 1%;
}

.flexbox {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Impact, 'Anton', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

input {
  font-family: Impact, 'Anton', sans-serif;
}

#submit-button {
  margin-top: 1vh;
  background-color: black;
  font-family: Impact, 'Anton', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px white;
}

#signout-button {
  margin-top: 1vh;
  background-color: black;
  font-family: Impact, 'Anton', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px white;
}

.copy-mark {
  font-size: 1rem;
}

#form-container .form-btn {
  color: white;
  opacity: 0.5;
  font-size: 25px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  display: none;
}

@media (max-width: 690px) {
  #form-container .form-btn {
    display: block;
  }

  #form-container .form {
    margin: 1vw 1vw;
    height: 25vh;
    width: 20vh;
    background-color: gray;
    opacity: 0.4;
    position: absolute;
    z-index: 99;
    top: 0vh;
    left: -180%;
    padding: 1vh 1vw 1vw 1vw;
    border-radius: 1%;
  }

  #form-container .activeForm {
    height: 30vh;
    width: 50vw;
    background-color: gray;
    opacity: 0.4;
    position: absolute;
    z-index: 99;
    top: 5vh;
    left: 25vw;
    padding: 1vh 1vw 1vw 1vw;
    border-radius: 1%;
  }
}
