#navigation {
  margin: 10px 10px;
  height: 50vh;
  width: 20vh;
  background-color: gray;
  opacity: 50%;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 1%;
}

.flexbox {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: impact, fantasy;
  font-weight: bold;
  font-size: large;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

input {
  font-family: impact, fantasy;
}

#submit-button {
  margin-top: 20px;
  background-color: black;
  font-family: impact, fantasy;
  color: white;
  font-weight: bold;
  opacity: 100%;
  box-shadow: 0 0 10px white;
}

.copy-mark {
  font-size: medium;
}
