.background-container {
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  top: 40%;
  width: 100vw;
  height: 15vh;
  background-color: rgb(117, 117, 151);
  opacity: 30%;
  z-index: 99;
  text-align: center;
  color: white;
  font-size: 8rem;
  font-style: italic;
  text-shadow: 0rem 0rem 1rem white;
  box-shadow: 0rem 0rem 2rem white;
}
