.background-container {
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  top: 45%;
  width: 100vw;
  height: 12vh;
  background-color: rgb(117, 117, 151);
  opacity: 50%;
  z-index: 99;
  text-align: center;
  color: white;
  font-size: 7rem;
  font-style: italic;
  font-family: Impact, fantasy;
  text-shadow: 0rem 0rem 0.2rem white;
  box-shadow: 0rem 0rem 3rem white;
}

.title:hover {
  opacity: 80%;
}

.audio {
  position: absolute;
  top: 10px;
  left: 10px;
}
