@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.background-container {
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  top: 45%;
  width: 100vw;
  height: 15vh;
  background-color: rgb(117, 117, 151);
  opacity: 0.5;
  z-index: 99;
  text-align: center;
  color: white;
  font-size: 10vh;
  font-style: italic;
  font-family: Impact, 'Anton', sans-serif;
  text-shadow: 0rem 0rem 0.2rem white;
  box-shadow: 0rem 0rem 9rem white;
}

.title:hover {
  opacity: 0.8;
}

.audio {
  position: absolute;
  top: 10px;
  left: 10px;
}
