#nav-bar {
  position: absolute;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vh;
  z-index: 99;
}

.nav-text {
  color: white;
  font-family: impact;
  font-size: 2.5vh;
  text-decoration: none;
  font-style: italic;
  opacity: 0.5;
  margin-left: 1vw;
  margin-right: 1vw;
  text-shadow: 0.1rem 0.1rem 0.5rem;
}

.nav-text:hover {
  opacity: 0.8;
}

.nav-link {
  text-decoration: none;
}

.menu-btn {
  color: white;
  opacity: 0.5;
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

@media (max-width: 690px) {
  .menu-btn i.active:before {
    content: '\f00d';
  }

  .menu {
    position: absolute;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
    z-index: 99;
    right: -100%;
  }

  .navbar .menu.active {
    left: 0;
  }
}
